.body {
  background-image: url("./background_photo_desktop.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;

  font-family: "Poppins", sans-serif;
}
main {
  padding: 3vw;
  container-type: inline-size;
}

.header {
  background-color: var(--neutral-color-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem 1rem;

  h1 {
    width: fit-content;

    span {
      color: var(--primary-color);
      font-weight: bolder;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20vmin 0;
}

.appContent {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  width: 100%;
}

@container (inline-size < 450px) {
  .appContent {
    flex-direction: column;
  }
}
